<header>
<h1>Dogs</h1>
<%= link_to 'New Dog', new_dog_path, class: "new_dog_link" %>
</header>

<p id="notice"><%= notice %></p>

<p>Sort:
  <%= link_to "by name", dogs_path(sort_by: :name) %>
  <%= link_to "by age", dogs_path(sort_by: :age) %>
</p>
<p>Filter:
  <%= link_to "dogs under 5yo", dogs_path(babies: :true) %>
  <%= link_to "dogs with pictures", dogs_path(pictures: :true) %>
</p>

<% @dogs.each do |dog| %>
  <div class="dog_box">
    <h3><%= link_to dog.name, dog %></h3>
    <%= image_tag(dog.picture_url(:standard))  unless dog.picture_url(:thumb).blank? %>
    <p>Age: <%= dog.age %></p>
  </div>
<% end %>
